@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-primary text-white antialiased;
  background-color: #000000;
}

.glass {
  @apply bg-white/5 backdrop-blur-xl border border-white/5;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-orange-400 to-red-600;
}
